.btn{
    color: white;
    border: none;
    padding: 8px 22px;
    cursor: pointer;
    font-family: 'proxima nova';
    font-weight: 700;
    background-color: rgba(237, 77, 36, 1);
    border-radius: 5px;
}

.btn:hover{
    background-color: rgb(216, 68, 30);
}

.btn:active{
    background-color: rgb(255, 172, 152);
}