.list-container{
    display: flex;
   margin-left: 14px;
   margin-top: 10px;
   font-family: 'Montserrat', sans-serif;
}

.date-container{

margin-left:0.5rem;
margin-top: 16px;
position: absolute;
left: 24rem;
font-family: 'Montserrat', sans-serif;
}

.container-title{
    margin-left: 8px;
    margin-top: 18px;
    position: absolute;
    left: 2rem;
    font-family: 'Montserrat', sans-serif;
}

.checkbox{
margin-top: 18px;
width:20px;
height:20px;
}

.calendar-icon{
margin-top: 4px;
left: 22.5rem;
position: absolute;
margin-top: 12px;
}

.comment-icon{
  margin-left: 2rem;
  width: 40px;
  height: 40px;
  background-color: rgba(237, 77, 36, 1);
  left: 31rem;
  position: absolute;
}

.subcomment{
  padding: 10px 10px;
}
.edit-icon{
  width: 40px;
  height: 40px;
  background-color: rgba(237, 77, 36, 1);
  left: 36.5rem;
  position: absolute;
}

.subedit{
  padding: 10px 10px;
}

.line{
    border: 0.5px solid  rgb(236, 236, 236);
    width: 38rem;
    margin: auto;
    margin-top: 10px;
}

