

*{
    font-family: 'montserrat', sans-serrif;
}
.modal {
    position: fixed; 
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    background-color: #001919b8;
   
  }

  .modal-subcontainer {
    background-color: #fefefe;
    margin: auto;
    padding: 35px 35px;
    border: none;
    width: 40%;
    max-height: calc(100vh - 200px);
    border-radius: 5px;
    animation: scaled .3s ease-in-out;
    overflow-y: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.newtask-container{
    display: flex;
    margin-left: 20px;

}

.modal-subcontainer h2{
    margin-top: 20px;
}

.date-input-container input{
    height: 25px;
    width: 40px;
}

.calcel-btn {
    border: none;
    background-color: white;
    margin-left: 65%;
    font-weight: 700;
    margin-top: 25px;
    width: 50px;
    cursor: pointer;
    font-size: 700;
}

.title-container {
    margin-left: -3px;
    margin-top: 15px;
    font-weight: 200;
    font-weight: 700;
}
/* .input-title{
    width: 27rem;
    height:25px;
    padding-left: 5px;
}

.description-container{
    margin-left: 20px;
    margin-top: 10px;
}

.description-input{
    width: 27rem;
    height: 55px;
    padding-left: 5px;
    padding-top: 5px;
}

.date-input-container{
    margin-left: 20px;
    margin-top: 10px;
}

.priority-container{
    margin-left: 20px;
    margin-top: 10px;
}

.comments-container{
    margin-left: 20px;
    margin-top: 10px;
}

.comments-input{
    width: 27rem;
    height: 55px;
}

.btn-modal-container{
    margin-left: 20.8rem;
    margin-top: 8px;
} */


input[type="text"], select, textarea {
    width: 100%;
    padding: 6px 15px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.date-input-container input{
    width: 20%;
    margin-left: 5px;
    display: inline;
}

.btn{
    color: white;
    border: none;
    padding: 8px 22px;
    cursor: pointer;
    font-family: 'proxima nova';
    font-weight: 700;
    background-color: rgba(237, 77, 36, 1);

}
